.marginbottom{
    margin-bottom: 10px !important;
}
.islemButtonWitdh{
    width: 90px!important;
}


.aktifclass{background-color:rgb(252, 174, 174) !important;}

.paddingsifir{
    padding: 0px !important;
}